<!DOCTYPE html>
<html>
<head>
    <title>Bikewale - Analytics</title>
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1, user-scalable=0"/>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
    
    <nav>
        <div class="nav-wrapper blue lighten-1">
            <a href="#!" class="brand-logo">Lighthouse Analytics</a>        
        </div>
    </nav>
    
<!--
    <ul class="sidenav">
        <li><a href="/bikewale/model">Bikewale</a></li>
        <li><div class="divider"></div></li>
        <li><a href="/bikewale/make" class="subheader">Make Page</a></li>
        <li><a href="/bikewale/model" class="subheader">Model Page</a></li>
        <li><a href="/bikewale/priceincity" class="subheader">Price in city Page</a></li>
        <li><div class="divider"></div></li>
        <li><a href="#!">Carwale</a></li>
        <li><div class="divider"></div></li>
        <li><a href="#!" class="subheader">Make Page</a></li>
        <li><a href="#!" class="subheader">Model Page</a></li>
        <li><a href="#!" class="subheader">Price in city Page</a></li>

        
    </ul>
    
-->
    
    
    
    
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
